<aside class="bg-base-100 w-64 min-h-screen p-4">
    <div class="text-xl font-bold mb-6 px-2">Corsairs Admin</div>
    <ul class="menu">
        <li><NavLink href="/" Match="NavLinkMatch.All" class="hover:bg-base-200">Dashboard</NavLink></li>
        <li class="menu-title mt-4">Аккаунты</li>
        <li><NavLink href="/accounts" class="hover:bg-base-200">Список аккаунтов</NavLink></li>
        <li class="menu-title mt-4">Игроки</li>
        <li><NavLink href="/players" class="hover:bg-base-200">Онлайн</NavLink></li>
        <li class="menu-title mt-4">Гильдии</li>
        <li><NavLink href="/guilds" class="hover:bg-base-200">Список гильдий</NavLink></li>
        <li class="menu-title mt-4">Серверы</li>
        <li><NavLink href="/servers" class="hover:bg-base-200">Топология</NavLink></li>
        <li class="menu-title mt-4">Система</li>
        <li><NavLink href="/broadcast" class="hover:bg-base-200">Рассылка</NavLink></li>
    </ul>
</aside>
